.content{height: 50%; width: 50%; margin: auto;}

.donnees{background-color:lightskyblue}
.titre{
	border: solid 1px;
	font-family: "sans-serif";
	font-size: 18px;
	padding: 8px 10px;
	background-color: lightskyblue;
}

.moyenne-site-bloc{
	border: solid 2px;
	text-align: center;
	margin-top: 5px;
}

@media screen and (max-width: 414px)/*petits écrans*/{
	.moyenne-site-bloc{
		width:100% !important;
	}
}

@media screen and (min-width: 768px)/*petites tablettes*/{
	.moyenne-site-bloc{
		width:50% !important;
		display: block !important;
	}
}